#Login p {
    color: red;
}
label {
    display: block;
    margin: 10px;
    text-align: left;
}
label input {
    margin-left: 10px;
    float: right;
}
label input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}
